### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Directorios de IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Archivos compilados
*.class
*.jar
*.war

# Directorios de compilación
/bin/
/out/
target/
build/

# Dependencias descargadas
/.mvn/
/.gradle/
/.settings/
